<h1 align="center"> 
  Hi, I'm {{ site.owner_name }}
  <img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="30px"/>
</h1>
  
<div id="header" align="center">
  <img src="https://media.giphy.com/media/LMcB8XospGZO8UQq87/giphy.gif" width="300"/>
</div>

{% if page.url=="/" %}
  {% include about/contact.html %}
{% endif %}

<div style="text-align: center; font-size: large; font-weight: bold;">
  <a href="/project">View my projects</a>
</div>

{% include about/about-me.html %}

<div style="padding-top: 10px;">
  <h3>Skills</h3>
  {% include about/skills.html %}
</div>