<div style="padding-top: 10px;">
  <h3>About me</h3>
  <div>
    <p>Hello! I'm currently a Master's student at Deakin University, passionate about software engineering and continuously enhancing my skills and knowledge in the field.</p>
    <ul>
      <li>
        Aspiring <b>full-stack software developer</b> with a passion for creating innovative solutions.
      </li>
      <li>
        Currently learning <b>backend development</b>, enhancing expertise and refining skills in modern <b>software engineering practices</b>.
      </li>
      <li>
        Gained hands-on experience in <b>Artificial Intelligence and Machine Learning</b> during my Bachelor's degree and through an AI Engineer internship at TMA Solutions (Vietnam).
      </li>
    </ul>  
  </div>
</div>