{% if page.url=='/' %}
<div id="badges" style="text-align: center;">
{% else %}
<div id="badges">
  {% endif %}
  {% if site.linkedin_user %}
  <a href="https://www.linkedin.com/in/{{ site.linkedin_user }}/">
    <img src="https://img.shields.io/badge/LinkedIn-blue?style=for-the-badge&logo=linkedin" alt="LinkedIn" />
  </a>
  {% endif %}
  {% if site.github_username %}
  <a href="https://github.com/{{ site.github_username }}">
    <img src="https://img.shields.io/badge/GitHub-blue?style=for-the-badge&logo=GitHub" alt="GitHub">
  </a>
  {% endif %}
</div>