<table cellspacing="0" cellpadding="0" style="border: none; width: 100%">
  {% if site.data.tech-skills.web-development %}
  <tr>
    <td>
      <a href="/project/web">Web Development</a>
    <td>
      <td>
        {% for skill in site.data.tech-skills.web-development %}
        <span style="display: inline-block; text-align: center; padding-inline: 5px;">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{ skill.code }}/{{ skill.code }}-original.svg" height="30" width="30"/>
        <span style="font-size: small; display: flex; ">{{ skill.name }}</span>
        </span>
        {% endfor %}
      </td>
  </tr>
  {% endif %}

  {% if site.data.tech-skills.ai-ml %}
  <tr>
    <td>
      <a href="/project/ai-ml">AI/ML</a>
    <td>
    <td>
      {% for skill in site.data.tech-skills.ai-ml %}
      <span style="display: inline-block; text-align: center; padding-inline: 5px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{ skill.code }}/{{ skill.code }}-original.svg" height="30" width="30"/>
        <span style="font-size: small; display: flex; ">{{ skill.name }}</span>
      </span>
      {% endfor %}
    </td>
  </tr>
  {% endif %}

  {% if site.data.tech-skills.mobile-development %}
  <tr>
    <td>
      <a href="/project/mobile">Mobile Development</a>
    <td>
    <td>
      {% for skill in site.data.tech-skills.mobile-development %}
      <span style="display: inline-block; text-align: center; padding-inline: 5px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{ skill.code }}/{{ skill.code }}-original.svg" height="30" width="30"/>
        <span style="font-size: small; display: flex; ">{{ skill.name }}</span>
      </span>
      {% endfor %}
    </td>
  </tr>
  {% endif %}

  {% if site.data.tech-skills.others %}
  <tr>
    <td>Others<td>
    <td>
      {% for skill in site.data.tech-skills.others %}
      <span style="display: inline-block; text-align: center; padding-inline: 5px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{ skill.code }}/{{ skill.code }}-original.svg" height="30" width="30"/>
        <span style="font-size: small; display: flex; ">{{ skill.name }}</span>
      </span>
      {% endfor %}
    </td>
  </tr>
  {% endif %}
</table>